.row__cards {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 28em;
  // モニター
  width: 130em;
  // PC
  @media screen and (max-width: 2200px) {
    width: 115em;
  }
  // mobile
  @media screen and (max-width: 1200px) {
    height: 17em;
  }
}

.row__cards::-webkit-scrollbar {
  display: none;
}

.row__picture {
  object-fit: contain;
  border-radius: 2% 2% 0% 0;
  transition: transform 450ms;
}
