.row__cards {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 28em;
  // モニター
  width: 120em;
  // PC
  @media screen and (max-width: 2000px) {
    width: 98em;
  }
}

.row__cards::-webkit-scrollbar {
  display: none;
}

.row__picture {
  object-fit: contain;
  border-radius: 0% 0% 0 0;
  transition: transform 450ms;
}
