.row__cards {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100em;
  height: 20em;
  padding-left: 30px;
}

.row__cards::-webkit-scrollbar {
  display: none;
}

.row__picture {
  object-fit: contain;
  border-radius: 10%;
  padding: 10px;
  width: 300px;
  height: 100px;
  transition: transform 450ms;
  &:hover {
    transform: scale(1.15);
  }
}
